body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
.todo-head {
  display: flex;
  align-items: center;
}

main {
  flex-direction: column;
}

ul li {
  display: inline;
  list-style: none;
}

#task-input {
  width: 55vw;
}

.todo-head {
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.clear {
  color: rgb(109, 99, 99);
}
