body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
.todo-head {
  display: flex;
  align-items: center;
}

main {
  width: 75%;
  margin: 5rem auto;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 0.5em;
}

input {
  margin-left: 2em;
  padding: 1em;
}

ul {
  display: flex;
  padding: 1em;
  flex-direction: column;
  gap: 1em;
}

ul li {
  display: flex;
  list-style: none;
}

.check-box,
ul li {
  padding: 1em;
  margin-right: 1em;
}

main,
ul,
ul li,
input {
  border: 1px solid grey;
  border-radius: 0.5em;
}

.arrow {
  position: relative;
  z-index: 2;
  top: 0.1em;
  right: 1.4em;
}

.todo-head {
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.clear {
  color: rgb(109, 99, 99);
}

#task-input {
  width: 58vw;
}

textarea {
  border: 0;
  outline: none;
}

textarea:focus {
  background-color: bisque;
}
